
.questionHeader {
    padding: 14px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 8px 40px rgba(4, 17, 63, 0.05);
}

.questionHeaderTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.interruptButton {
    cursor: pointer;
    padding: 10px 20px;
    color: #345ceb;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: none;
    border-radius: 3px;
    border: 1px solid #345ceb;
    transition: all 0.3s ease;
}

.interruptButton:hover {
    color: #ffffff;
    background: #345ceb;
    border: 1px solid #345ceb;
}


.questionContainer {
    margin: 0 auto;
    margin-top: 4%;
    width: 60%;
    position: relative;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px 8px 8px 0;
    box-shadow: 0 8px 40px rgba(4, 17, 63, 0.05);
}

.questionTop {
    display: flex;
    flex-direction: row;
}

.questionTopTag {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionTag {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.questionTopNumber {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionNumber {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.questionFavoriteZone {
    width: 37%;
}

.questionFavorite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;

}

.questionFavoriteIcon {
    height: 32px;
    width: 32px;
    background: #f3f5f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.questionFavoriteButton {
    padding: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #345ceb;
    background: none;
    border: none;
    width: 70%;
}

.questionBody {
    margin-top: 2%;
}

.questionText {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
}

.questionAnswerButtons {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.recordAnswer {
    padding: 10px 20px;
    color: #345ceb;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: none;
    border-radius: 3px;
    border: 1px solid #345ceb;
    transition: all 0.3s ease;
}

.recordAnswer:hover {
    color: #ffffff;
    background: #345ceb;
    border: 1px solid #345ceb;
}


.questionUserAnswerField {
    margin-top: 2%;
}

.userAnswerField {
    width: 100%;
    height: 75px;
    resize: none;
    font-weight: 600;
    font-size: 17px;
}


.questionAnswerField {
    margin-top: 2%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.nextQuestionButton {
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: #345ceb;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.hidden {
    display: none;
}


.modalAnswer {
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.popupAnswer {
    position: relative;
    width: 640px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.popupAnswerOpen {
    opacity: 1;
    transform: scale(1);
}

.popupAnswerClose {
    position: absolute;
    top: 2%;
    right: 2%;
}

.popupAnswerClose:hover {
    cursor: pointer;
}

.popupAnswerCloseButton {
    border: none;
    background: none;
    margin-top: 5px;
    margin-right: 5px;
}

.popupAnswerText {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.popupAnswerButtons {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.popupAnswerButton {
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: #345ceb;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    gap: 5px;
}


.modalInterrupt {
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.popupInterrupt {
    position: relative;
    width: 640px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.popupInterruptOpen {
    opacity: 1;
    transform: scale(1);
}

.popupInterruptClose {
    position: absolute;
    top: 2%;
    right: 2%;
}

.popupInterruptClose:hover {
    cursor: pointer;
}

.popupInterruptCloseButton {
    border: none;
    background: none;
    margin-top: 5px;
    margin-right: 5px;
}

.popupInterruptText {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}

.popupInterruptButtons {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.popupInterruptButton {
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: #345ceb;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
    margin: 0 auto;
    margin-top: 2%;
}



