
html,
body {
    background-color: #f3f5f9;
}

.question-page__header {
    padding: 14px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
}
.question-page__header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.question-page__container {
    margin: 40px 260px;
}


.question {
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: 0.4s all;
}
.question__avatar {
    margin-right: 16px;
    min-height: 64px;
    min-width: 64px;
    border-radius: 50%;
    border: 4px solid #04113f;
}

.question__container {
    width: 100%;
    position: relative;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
}
.question__container:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    border: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-top: 15px solid #ffffff;
}
.question__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.question__top-tags {
    display: flex;
}
.question__top-tag {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}
.question__top-tag:not(:last-child) {
    margin-right: 12px;
}
.question__top-favourites {
    display: flex;
}
.question__top-favourites__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #e4e9ff;
}
.question__top-favourites__btn {
    padding: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #345ceb;
    background: none;
    border: none;
}
.question__body {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}



.answer {
    margin-top: 240px;
    display: flex;
    align-items: center;
}
.answer__container {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px 8px 0px 8px;
    box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
}
.answer__container:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -30px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
    border-top: 15px solid #ffffff;
}
.answer__avatar {
    margin-left: 16px;
    height: 64px;
    min-width: 64px;
    border-radius: 50%;
    border: 4px solid #04113f;
}


.show-answer {
    padding: 32px;
    background: #ffffff;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.4s all;
}
.show-answer__answer-text {
    margin-top: 16px;
}
.show-answer__correct-block {
    margin-top: 230px;
    padding: 24px;
    background: #f3f5f9;
    border-radius: 8px;
}
.show-answer__correct-block__title {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}
.show-answer__correct-block__buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn-answer {
    padding: 15px 28px;
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #04113f;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
}

.btn-answer:hover {
    color: #ffffff;
    background: #345ceb;
    border: 1px solid #345ceb;
}
.btn-answer:active {
    color: #ffffff;
    background: #254bd1;
}
.btn-answer__text {
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
}
.secondary-button {
    padding: 10px 20px;
    color: #345ceb;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: none;
    border-radius: 3px;
    border: 1px solid #345ceb;
    transition: all 0.3s ease;
}
.secondary-button:hover {
     color: #ffffff;
     background: #345ceb;
     border: 1px solid #345ceb;
 }

.secondary-button:active {
     color: #ffffff;
     background: #254bd1;
 }

.primary-button {
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: #345ceb;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
}
.primary-button:hover {
     background: #2a51db;
 }

.primary-button:active {
     background: #254bd1;
 }
.primary-button svg,img {
    margin-right: 10px;
    vertical-align: middle;
}
.hidden{
    display: none;
}


