
.container {
    text-align: center;
}

.container__title {
    margin: 77px 0 20px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.generalSector {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.progressSector {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
}

.progressBlock-string {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}

.progress {
    margin: 0 auto;
    width: 90%;
    height: 30%;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background: #23bfff;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 0;
    transition: 1s ease;
}

.progressSector {
    margin: 0 auto;
    display: flex;
}

.progressBlock {
    color: white;
    background-color: #345ceb;
    margin: 0 auto;
    height: 100px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.interviewProgress {
    width: 100%;
    height: 300px;
    position: center;
    border-radius: 7px;
    background-color: #ababab;
    overflow: hidden;
    transform: rotate(180deg);

}

.interviewProgressBar {
    height: 0;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    transition: 1s ease;

}


/*------КРУГОВАЯ ДИАГРАММА----*/
.categoryDiagramSector {
    border-radius: 3px;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.categoryTitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: black;
    margin-bottom: 10px;
}

.categoryDiagram {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: green;
    position: relative;
    overflow: hidden;
    transform: rotate(180deg);
}

.categoryDiagram::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #53c0ee;
    z-index: 3;
    opacity: 1;
}

.categoryDiagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}

.categoryDiagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}

.categoryDiagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.categoryDiagram.over_50 .piece.left {
    transform: rotate(180deg);
}

.categoryDiagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.categoryDiagram.over_50 .piece.right {
    transform: rotate(360deg);
}

.categoryDiagram .left::before {
    background: red;
}

.categoryDiagram.over_50 .left::before {
    background: green;
}

.categoryDiagram .right::before {
    background: red;
}

.categoryDiagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.categoryDiagram .text b {
    font-size: 36px;
}

.categoryDiagram .text span {
    font-size: 14px;
    display: block;
}

.piece.right {
    transition: 1s ease;
}

.piece.left {
    transition: 2s ease;
}

.categoryBlock {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #53c0ee;
    border: none;
}

.categoryBlock:hover {
    filter: brightness(95%);
}

.categoryDiagramBlock {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.text {
    transform: rotate(180deg);
}

.category {
    margin-bottom: 10%;
    font-size: 20px;
}

/*---------------------------*/
.categoryDiagramZone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 20px;
}

.categoryDiagramSector {

}

.categoryName {
    text-align: center;
    margin: 10%;
    font-weight: 700;
    color: white

}

.questionSector {
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 1%;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}

.question {
    height: 100%;
    max-height: 120px;
    padding: 25px;
    text-align: left;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

.question:last-child {
    margin-bottom: 12px;
}

.question:not(:last-child) {
    margin-bottom: 16px;
}

.question-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.question-top-tag {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.question-top-favourites {
    display: flex;
}

.question-top-favourites__icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: 50%;
    background: #e4e9ff;
}

.question-top-favourites img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-top-favourites__btn {
    padding: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #345ceb;
    background: none;
    border: none;
    cursor: pointer;
}
.questionStatusBlock{
    width: 30%;
    height: 5%;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}
.statusPositive {
    background-color: #7cc77c;
    border: 2px solid green;
}

.statusNegative {
    background-color: #ec7171;
    border: 2px solid red;
}

.modal {
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.edit-popup {
    max-height: 40%;
    min-height: 30%;
    position: relative;
    width: 640px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.edit-popup-close {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.edit-popup__close:hover {
    cursor: pointer;
}

.modal-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modal-close-button {
    border: none;
    background: none;
    margin-top: 5px;
    margin-right: 5px;
}

.modal-question-category {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.modal-question-category-text {
    padding: 5px 10px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
}

.modal-question-top {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
}

.modal-question-status {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}
.modal-question-body{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.modal-question-text{
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
}
.modal-answer{
    font-size: 16px;
}
.modal-user-answer{
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
}
.hidden {
    display: none;
}




