
.header {
    padding: 0 100px;
    width: 100%;
    color: #ffffff;
    background: #04113f;
}

.header__container {
    height: 64px;
    display: flex;
    align-items: center;
}

.header__menu {
    width: 100%;
    justify-content: space-between;
}

.linkItem {
    color: white;
}

.sectionIcon {
    width: 25px;
    height: 25px;

    margin: 0 auto;
}

.menu__list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.menu__item {
    padding: 20px 0;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 700;
}

.menu__item_mobile {
    padding: 5%;

    /*border: 1px solid #ffffff;*/
    display: none;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 700;
}

.menu__item:not(:last-child) {
    margin-right: 32px;
}

.menu__item:hover:after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #345ceb;
    border-radius: 4px;
}

.menu__item-icon {
    margin-right: 8px;
    vertical-align: bottom;
}


@media (max-width: 767px) {
    .menu__item {
        display: none;
    }
    .menu__list{
        gap: 10px;
    }

    .menu__item_mobile {
        display: block;
    }
}

@media (max-width: 567px) {

}

@media (max-width: 479px) {

}
