html,
body {
    background-color: #f3f5f9;
    height: 100%;
}

.container {
    margin: 77px 0 20px;
    text-align: center;
    height: 100%;
}

.container-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.container-subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #66676c;
}

.container-link {
    margin-left: 3px;
    font-weight: 600;
    color: #345ceb;
    cursor: pointer;
}

.container-link:hover {
    text-decoration: underline;
}

.favorite-section {
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.choose-profession-block {
    padding: 1%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfe1e8;
}

.choose-profession {
    font-size: 20px;
    width: 30%;
    height: 100%;
}

.favorite-section-questions {
    padding: 1%;
    margin: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 16px;
}

.question-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.question-wrapper {
    background-color: white;
}

.question-container-top {
    margin-top: 3%;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question-category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    height: 100%;
    width: 30%;
}

.question-favorite {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    align-items: center;
    height: 100%;
    width: 20%;
}

.question-container-bottom {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.question-text {
    font-size: 20px;
}

.question-category-text {
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 600;;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.question-favourites {
    display: flex;
}

.question-favourites-icon {
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    background: #e4e9ff;
}

.question-favourites img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-favourites-button {
    padding: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #345ceb;
    background: none;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.edit-popup {
    max-height: 40%;
    min-height: 30%;
    position: relative;
    width: 640px;
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.edit-popup-close {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.edit-popup__close:hover {
    cursor: pointer;
}

.modal-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.modal-question-category {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-question-question {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-question-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
}

.modal-question-category-text {
    padding: 5px 10px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.modal-question-question-text {
    font-size: 20px;
}

.modal-close-button {
    border: none;
    background: none;
    margin-top: 5px;
    margin-right: 5px;
}

.modal-question-answer-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    word-wrap: break-word;
}

.modal-question-answer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}


@media (max-width: 768px) {
    .knowledge-base {
        width: 100%;

    }

    .choose-profession {
        width: 40%;

    }

    .edit-popup {
        height: 100%;
    }
}

@media (max-width: 567px) {
    .edit-popup {
        width: 100%;
        height: 100%;
    }

    .favorite-section {
        width: 100%;
        padding: 1%;
    }

    .favorite-section-questions {
        grid-template-columns: repeat(1, 1fr);
    }

    .modal-question {
        gap: 10px;
    }

    .modal-question-question {
        margin: 0 auto;
    }
}





