
html,
body {
    background-color: #f3f5f9;
    height:100%;
}

.container {
    margin: 77px 0 20px;
    text-align: center;
    height:100%;
}

.container-title {

    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.container-subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #66676c;
}

.container-link {
    margin-left: 3px;
    font-weight: 600;
    color: #345ceb;
    cursor: pointer;
}

.container-link:hover {
    text-decoration: underline;
}

.knowledge-base {
    margin: 0 200px 60px;
    height:100%;
}

.choose-profession-block {
    padding: 1%;
    height:8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfe1e8;
}
.choose-profession {
    width:30%;
    height:100%;
}


.knowledge-base-questions {
    padding: 1%;
    margin: 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 16px;
}


.knowledge-base-question {
    max-height: 120px;
    padding: 25px;
    text-align: left;
    background: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

.knowledge-base-question:not(:last-child) {
    margin-bottom: 16px;
}

.knowledge-base-question-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.knowledge-base-question-top-tag {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #6f00ff;
    background: #f3f5f9;
    border-radius: 3px;
}

.knowledge-base-question-top-favourites {
    display: flex;
}

.knowledge-base-question-top-favourites-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: 50%;
    background: #e4e9ff;
}

.knowledge-base-question-top-favourites img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.knowledge-base-question-top-favourites-btn {
    padding: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #345ceb;
    background: none;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}






