
html,
body {
    background-color: #f3f5f9;
}

.preview {
    padding: 40px 200px 60px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.preview-card {
    width: 800px;
    background: #ffffff;
    border-radius: 8px;
}

.preview-top {
    padding: 32px 0;
    text-align: center;
    background: #04113f;
    border-radius: 8px 8px 0 0;
}

.preview-title {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #00cfcf;
}

.preview-title2 {
    color: white;
}

.preview-card__subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #ffffff;
}

.preview-body {
    padding: 24px 40px 40px;
}

.preview-start {
    padding: 20px;
    margin-top: 24px;
    text-align: center;
    border-radius: 8px;
}

.infoblock-item {
    display: flex;
    gap: 16px;
}

.infoblock-item :not(:last-child) {
    margin-bottom: 20px;
}

.infoblock-icon {
    min-width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    background: #e4e9ff;
}

.infoblock-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoblock-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}


.infoblock-subtitle {
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #66676c;
}

.primary-button {
    padding: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    background: #345ceb;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease;
}

.primary-button:hover {
    background: #2a51db;
}

.primary-button:active {
    background: #254bd1;
}

.primary-button svg, img {
    margin-right: 10px;
    vertical-align: middle;
}
.infoblock{
    display: flex;
    flex-direction: column;
    gap:10px;
}

@media (max-width: 767px) {
    .preview {
        padding: 0;
        padding-top: 20px;
    }

    .preview-top {
        border-radius: 0;
        padding: 10px;
    }

    .preview-body {
        padding: 14px;
    }
    .infoblock{
        gap:20px;
    }

    /*.container__title{*/
    /*    margin: 37px 0 10px 0;*/
    /*}*/
    /*.directions {*/
    /*    padding:10%;*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/
    /*.info-card__container {*/
    /*    width: 100%;*/
    /*    height: 70px;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    border: 1px solid #ffffff;*/
    /*}*/
}

@media (max-width: 567px) {

}

@media (max-width: 479px) {

}

