.orange {
    background: #ffa235;
}

.gray {
    background: #ababab;
}

.container {

    text-align: center;
}

.container__title {
    margin: 77px 0 20px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.generalSector {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progressSector {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;

}

.progressBlock {
    color: white;
    background-color: #345ceb;
    margin: 0 auto;
    height: 100px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.progressBlock-string {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

}

.progress {
    margin: 0 auto;
    width: 90%;
    height: 30%;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background: #23bfff;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 0;
    transition: 1s ease;
}


/*///10 последних/////*/

.diagramSector {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    border-radius: 3;
}

.diagramSector-text {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}

.simulationCount {
    margin: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.diagramBlock {
    display: flex;
    flex-direction: column;

}

.diagramZone {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;

}

.interviewColumn {
    margin: 5px;
    width: 80%;
}

.button {
    position: relative;
    border: none;
    width: 100%;
    height: 305px;
    background-color: white;
}

.button:hover {
    filter: brightness(96%)
}

.interviewProgress {
    width: 100%;
    height: 300px;
    position: center;
    border-radius: 7px;
    background-color: #ababab;
    overflow: hidden;
    transform: rotate(180deg);

}

.interviewProgressBar {
    height: 0;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 100%;
    transition: 1s ease;
}

.interviewPercentCount {
    transform: rotate(180deg);
}

.dateField {
    display: flex;
    justify-content: center;
}


/*------КРУГОВАЯ ДИАГРАММА----*/
.categoryDiagramSector {
    border-radius: 3px;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.categoryDiagramZone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 20px;

}

.categoryTitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: white;
}

.interviewDiagramBlock {
    border: 3px solid #53c0ee;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
}

.categoryName {
    text-align: center;
    margin: 10%;
    font-weight: 700;
    color:white

}

/*////сложные скрипты///*/
.categoryDiagram {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: green;
    position: relative;
    overflow: hidden;
    transform: rotate(180deg);
}

.categoryDiagram::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background: #53c0ee;
    z-index: 3;
    opacity: 1;
}

.categoryDiagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}

.categoryDiagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}

.categoryDiagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.categoryDiagram.over_50 .piece.left {
    transform: rotate(180deg);
}

.categoryDiagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.categoryDiagram.over_50 .piece.right {
    transform: rotate(360deg);
}

.categoryDiagram .left::before {
    background: red;
}

.categoryDiagram.over_50 .left::before {
    background: green;
}

.categoryDiagram .right::before {
    background: red;
}

.categoryDiagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.categoryDiagram .text b {
    font-size: 36px;
}

.categoryDiagram .text span {
    font-size: 14px;
    display: block;
}

.piece.right {
    transition: 1s ease;
}

.piece.left {
    transition: 2s ease;
}

.categoryBlock {
    width: 200px;
    height: 200px;
    /*border: 5px solid #53c0ee;*/
    border-radius: 10px;
    background-color: #53c0ee;
    /*margin: 10px;*/
}

.categoryDiagramBlock {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.text {
    transform: rotate(180deg);
}

.category {
    margin-bottom: 10%;
    font-size: 20px;
}

/*---------------------------*/
@media (max-width: 767px) {
    .container__title {
        font-size: 18px;
    }

    .progressBlock {
        border-radius: 0;
        width: 100%;
        font-size: 16px;
    }

    .diagramSector {
        width: 100%;
    }

    .diagramSector-text {
        font-size: 16px;

    }
    .categoryDiagramSector{
        width:100%;
    }
    .categoryDiagramZone{
        grid-template-columns: repeat(1,1fr);
    }
    .interviewColumn{
        width:60%;
        margin: 0 auto;
    }
    .interviewProgress{
        height:70%;
    }
    .dateField{
        transform:rotate(270deg);
        margin-bottom: 30px;
    }
    .diagramZone{
        grid-template-columns: repeat(5, 1fr);
    }
}





